/*
  Custom CSS
  Prefix all classes with "dig"
*/

.digDatagrid {
  width: 100%;
}

.digDatagrid th {
  text-align: left;
}

.digDatagrid td,
.digDatagrid th {
  border-bottom: 1px solid #DDD;
  padding: 6px 4px;
}

.digDatagrid tr:last-child th,
.digDatagrid tr:last-child td {
  border: none;
}

.digMute {
  color: #666;
}